.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    background-color: lightblue;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
button:disabled {
    background-color: #e9e9ed;
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    font-weight: bold;
    color: red;
}